node-red.json
[
  {
    "id": "3e6f4833e529a5b8",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "a7408b96c0493ad3",
    "type": "mqtt in",
    "z": "3e6f4833e529a5b8",
    "name": "",
    "topic": "ergosense/dados",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "fb0e5205a232cc4c",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 260,
    "y": 300,
    "wires": [["3c8f125313f51f2e"]]
  },
  {
    "id": "3c8f125313f51f2e",
    "type": "json",
    "z": "3e6f4833e529a5b8",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 450,
    "y": 300,
    "wires": [["8c93d58a8db5f8d3", "715c4f11fd209f7e", "de2b0825e43454bc"]]
  },
  {
    "id": "8c93d58a8db5f8d3",
    "type": "function",
    "z": "3e6f4833e529a5b8",
    "name": "temperatura",
    "func": "msg.payload = msg.payload.temperatura;\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 670,
    "y": 200,
    "wires": [["e5080c2dc542fe63"]]
  },
  {
    "id": "e5080c2dc542fe63",
    "type": "ui_gauge",
    "z": "3e6f4833e529a5b8",
    "name": "",
    "group": "6dc202c3577fb906",
    "order": 1,
    "width": "5",
    "height": "5",
    "gtype": "gage",
    "title": "Temperatura",
    "label": "C",
    "format": "{{value}}",
    "min": 0,
    "max": "80",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 890,
    "y": 200,
    "wires": []
  },
  {
    "id": "e0d2639c08c7dd85",
    "type": "ui_gauge",
    "z": "3e6f4833e529a5b8",
    "name": "",
    "group": "09d7142f4c8a4f79",
    "order": 0,
    "width": "5",
    "height": "5",
    "gtype": "gage",
    "title": "Umidade",
    "label": "H",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 900,
    "y": 300,
    "wires": []
  },
  {
    "id": "715c4f11fd209f7e",
    "type": "function",
    "z": "3e6f4833e529a5b8",
    "name": "Umidade",
    "func": "msg.payload = msg.payload.umidade;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 680,
    "y": 300,
    "wires": [["e0d2639c08c7dd85"]]
  },
  {
    "id": "de2b0825e43454bc",
    "type": "function",
    "z": "3e6f4833e529a5b8",
    "name": "Luminosidade",
    "func": "msg.payload = msg.payload.luz;\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 700,
    "y": 400,
    "wires": [["01b3790d9426fbee"]]
  },
  {
    "id": "01b3790d9426fbee",
    "type": "ui_chart",
    "z": "3e6f4833e529a5b8",
    "name": "Luminosidade Chart",
    "group": "eaeba6de3506159c",
    "order": 0,
    "width": "6",
    "height": "5",
    "label": "Luminosidade",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "100",
    "removeOlder": "60",
    "removeOlderPoints": "",
    "removeOlderUnit": "1",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#dad30b",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 960,
    "y": 400,
    "wires": [[]]
  },
  {
    "id": "fb0e5205a232cc4c",
    "type": "mqtt-broker",
    "name": "",
    "broker": "test.mosquitto.org",
    "port": 1883,
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": 4,
    "keepalive": 60,
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "6dc202c3577fb906",
    "type": "ui_group",
    "name": "Temperatura",
    "tab": "f7defbabd2baa2f8",
    "order": 1,
    "disp": true,
    "width": 6,
    "collapse": false,
    "className": ""
  },
  {
    "id": "09d7142f4c8a4f79",
    "type": "ui_group",
    "name": "Umidade",
    "tab": "f7defbabd2baa2f8",
    "order": 2,
    "disp": true,
    "width": 6,
    "collapse": false,
    "className": ""
  },
  {
    "id": "eaeba6de3506159c",
    "type": "ui_group",
    "name": "Luminosidade",
    "tab": "f7defbabd2baa2f8",
    "order": 3,
    "disp": true,
    "width": 6,
    "collapse": false,
    "className": ""
  },
  {
    "id": "f7defbabd2baa2f8",
    "type": "ui_tab",
    "name": "Tab 1",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "8e44e86aaf06eef0",
    "type": "global-config",
    "env": [],
    "modules": {
      "node-red-dashboard": "3.6.6"
    }
  }
]
